.fetch-component {
    font-style: italic;
    font-size: medium;
}
table tr:nth-child(odd) td{
    background-color: aqua;
}
table tr:nth-child(even) td{
    background-color: burlywood;
}
.textBox{
    background-color: lightblue;
    font-size: 10px;
    text-align: justify;
    margin-top: 3%;
}
